---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/biographies?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a749d2ac1df43afc92a93ca82b6340072ff968f7"'
      X-Worker-Node:
      - aadeb:32511
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 13, "biographies": [{"text": "FOLLOW US MORE
        VIDEOS", "site": "myspace", "url": "http://www.myspace.com/weezer#biography",
        "license": {"type": "unknown", "attribution": "n/a", "attribution-url": "http://www.myspace.com/weezer#biography",
        "url": "n/a", "version": "n/a"}, "truncated": true}, {"text": "As one of the
        most popular groups to emerge in ...", "site": "ilike", "url": "http://www.ilike.com/artist/Weezer",
        "license": {"type": "unknown", "attribution": "ilike", "attribution-url":
        "http://www.ilike.com/artist/Weezer", "url": "n/a", "version": "n/a"}, "truncated":
        true}, {"text": "Weezer is a popular Californian college-rock band fronted
        by geeky ...", "site": "amazon", "url": "http://www.amazon.com/Weezer/e/B000APYT4S/",
        [...]
