---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/familiarity?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b70ed2a5ccc81374f42b977ea98ab6f36f06b0e1"'
      X-Worker-Node:
      - 1eef6:12417
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"familiarity": 0.89805400000000002, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Sat, 23 Feb 2013 13:04:27 GMT
recorded_with: VCR 2.4.0
