---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/genres?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9dc0104ab3feb99dd9455dec2fa517050584d5fc"'
      X-Worker-Node:
      - d2362:29543
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "terms": {"genre": "rock", "sub_genre": "alternative rock"}, "id":
        "AR633SY1187B9AC3B9", "name": "Weezer"}}'
  recorded_at: Sun, 26 Jan 2014 03:58:58 GMT
[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/profile?api_key=BNOAEBT3IZYZI6WXI&bucket=genre&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<html><title>404: Not Found</title><body>404: Not Found</body></html>'
  recorded_at: Sun, 26 Jan 2014 23:26:27 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=BNOAEBT3IZYZI6WXI&bucket=genre&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3a947d2bd34bbca959ebbcbe4447e410165537c2"'
      X-Worker-Node:
      - 7cbef:17202
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"genres": [{"name": "alternative rock"}, {"name": "punk
        christmas"}, {"name": "indie christmas"}, {"name": "power pop"}, {"name":
        "pop punk"}, {"name": "pop rock"}, {"name": "hot adult contemporary"}, {"name":
        "pop christmas"}, {"name": "post-grunge"}, {"name": "indie rock"}, {"name":
        "funk rock"}, {"name": "chr"}, {"name": "rock"}], "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Sun, 26 Jan 2014 23:58:56 GMT
[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=BNOAEBT3IZYZI6WXI&bucket=genre&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3a947d2bd34bbca959ebbcbe4447e410165537c2"'
      X-Worker-Node:
      - 7cbef:17202
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"genres": [{"name": "alternative rock"}, {"name": "punk
        christmas"}, {"name": "indie christmas"}, {"name": "power pop"}, {"name":
        "pop punk"}, {"name": "pop rock"}, {"name": "hot adult contemporary"}, {"name":
        "pop christmas"}, {"name": "post-grunge"}, {"name": "indie rock"}, {"name":
        "funk rock"}, {"name": "chr"}, {"name": "rock"}], "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Mon, 27 Jan 2014 00:02:55 GMT
recorded_with: VCR 2.8.0
