---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/genre/list?api_key=BNOAEBT3IZYZI6WXI&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7cbef:22351
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "genres": [{"name": "a cappella"}, {"name": "abstract"}, {"name":
        "abstract hip hop"}, {"name": "abstract idm"}, {"name": "accordion"}, {"name":
        "acid house"}, {"name": "acid jazz"}, {"name": "acid techno"}, {"name": "acousmatic"},
        {"name": "acoustic blues"}, {"name": "acoustic pop"}, {"name": "adult standards"},
        {"name": "african percussion"}, {"name": "african rock"}, {"name": "afrikaans"},
        {"name": "afrobeat"}, {"name": "afrobeats"}, {"name": "aggrotech"}, {"name":
      [...]
