---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/genre/search?api_key=BNOAEBT3IZYZI6WXI&format=json&name=folk%20rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 962d4:23274
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "genres": [{"name": "folk rock"}], "total": 1}}'
  recorded_at: Thu, 18 Dec 2014 02:58:41 GMT
recorded_with: VCR 2.9.3
