---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/genre/artists?api_key=BNOAEBT3IZYZI6WXI&format=json&name=folk%20rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - ef99f:28485
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARVHQNN1187B9B9FA3", "name": "Cat Stevens"}, {"id": "AR966X21187B9AC463",
        "name": "Paul Simon"}, {"id": "ARNAQSX1187B9ADBE4", "name": "Van Morrison"},
        {"id": "ARIWB161187B9AA1D5", "name": "Simon & Garfunkel"}, {"id": "AR1XWI51187B9B2101",
        "name": "Richie Havens"}, {"id": "ARSFKG71187FB3D66F", "name": "Crosby, Stills
        & Nash"}, {"id": "ARGF9VF1187FB37DAE", "name": "The Band"}, {"id": "AR1UBH11187FB3643A",
        "name": "Don McLean"}, {"id": "AR5FP401187FB523C9", "name": "Bob Dylan"},
        {"id": "ARFAC0T1187B98C410", "name": "Graham Nash"}, {"id": "ARQFPFK1187FB533E1",
        "name": "Roger McGuinn"}, {"id": "AR71ISG1187FB3C14D", "name": "Arlo Guthrie"},
        {"id": "AREI0AM1187FB54C33", "name": "Tim Hardin"}, {"id": "ARQXK0B1187B9ACC97",
        "name": "Joni Mitchell"}, {"id": "AR24G861187B9B7FAC", "name": "David Crosby"}]}}'
  recorded_at: Thu, 18 Dec 2014 02:52:18 GMT
recorded_with: VCR 2.9.3
