---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/genre/similar?api_key=BNOAEBT3IZYZI6WXI&format=json&name=folk%20rock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 0c0ba:19426
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "genres": [{"name": "singer-songwriter", "similarity": 0.70833299999999999},
        {"name": "mellow gold", "similarity": 0.60763900000000004}, {"name": "traditional
        folk", "similarity": 0.5}, {"name": "roots rock", "similarity": 0.45833299999999999},
        {"name": "folk", "similarity": 0.42708299999999999}, {"name": "soft rock",
        "similarity": 0.42013899999999998}, {"name": "country rock", "similarity":
        0.38888899999999998}, {"name": "british folk", "similarity": 0.36805599999999999},
        {"name": "folk-pop", "similarity": 0.36111100000000002}, {"name": "folk christmas",
        "similarity": 0.23958299999999999}, {"name": "classic rock", "similarity":
        0.190972}, {"name": "rock", "similarity": 0.17361099999999999}, {"name": "album
        rock", "similarity": 0.17013900000000001}, {"name": "psychedelic rock", "similarity":
        0.16319400000000001}, {"name": "british blues", "similarity": 0.125}], "total":
        17}}'
  recorded_at: Thu, 18 Dec 2014 02:58:41 GMT
recorded_with: VCR 2.9.3
