---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5826c5479542eca3a88f60adc26bf81874f65939"'
      X-Worker-Node:
      - c125c:9835
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"hotttnesss": 0.53242500000000004, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Sat, 23 Feb 2013 13:05:49 GMT
recorded_with: VCR 2.4.0
