---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&type=overall
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"db4a58343e66279b7a1d0a879e3aa2b619395963"'
      X-Worker-Node:
      - d1c7d:30417
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"hotttnesss": 0.74428000000000005, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Mon, 02 Sep 2013 00:30:30 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&type=social
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"db4a58343e66279b7a1d0a879e3aa2b619395963"'
      X-Worker-Node:
      - 04371:24564
      X-Ratelimit-Remaining:
      - '16'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"hotttnesss": 0.74428000000000005, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Mon, 02 Sep 2013 00:30:30 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&type=reviews
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"db4a58343e66279b7a1d0a879e3aa2b619395963"'
      X-Worker-Node:
      - a0306:17448
      X-Ratelimit-Remaining:
      - '15'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"hotttnesss": 0.74428000000000005, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Mon, 02 Sep 2013 00:30:30 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/hotttnesss?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&type=mainstream
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"db4a58343e66279b7a1d0a879e3aa2b619395963"'
      X-Worker-Node:
      - c6357:18864
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artist": {"hotttnesss": 0.74428000000000005, "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}}}'
  recorded_at: Mon, 02 Sep 2013 00:30:30 GMT
recorded_with: VCR 2.5.0
