---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Bob%20Marley
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b9b9cfa02c362649b53e832a81ed6e2112b2c01e"'
      X-Worker-Node:
      - 2d6ca:15157
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 141, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/0/0f/LocationAfrica.png",
        "license": {"type": "unknown", "attribution": "n/a", "url": "http://en.wikipedia.org/wiki/File:LocationAfrica.png"}},
        {"url": "http://upload.wikimedia.org/wikipedia/commons/3/3a/Bob-Marley-in-Concert_Zurich_05-30-80.jpg",
        "license": {"type": "cc-by-sa", "attribution": "CdaMVvWgS", "url": "http://upload.wikimedia.org/wikipedia/commons/3/3a/Bob-Marley-in-Concert_Zurich_05-30-80.jpg"}},
        {"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bob-marley-wailers-crystal-palace.jpg/800px-Bob-marley-wailers-cryst[...]
