---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=15
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6597e75a1cce28f2f827afc4ca3e6eca018f9469"'
      X-Worker-Node:
      - 96cdc:21874
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 175, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/2/2b/Weezer.jpg",
        "tags": [], "width": 640, "height": 480, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by-sa", "attribution": "ryanwh
        / ryan", "url": "http://en.wikipedia.org/wiki/File:Weezer.jpg"}}, {"url":
        "http://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Weezer_2005.jpg/800px-Weezer_2005.jpg",
        "tags": [], "width": 800, "height": 600, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by", "attribution": "James from
        Somerville, USA", "url": "http://en.wikipedia.org/wiki/File:Weezer_2005.jpg"}},
        {"url": "http://upload.wikimedia.org/wi[...]
