---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5a8042a15d413c7f6a6f7b3c62e14a4508e93f63"'
      X-Worker-Node:
      - 4dfa3:20562
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 257, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/2/2b/Weezer.jpg",
        "license": {"type": "cc-by-sa", "attribution": "ryanwh / ryan", "url": "http://en.wikipedia.org/wiki/File:Weezer.jpg"}},
        {"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Weezer_2005.jpg/800px-Weezer_2005.jpg",
        "license": {"type": "cc-by", "attribution": "James from Somerville, USA",
        "url": "http://en.wikipedia.org/wiki/File:Weezer_2005.jpg"}}, {"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Weezer_2009.jpg/399px-Weezer_2009.jpg",
        "license": {"type": "cc-by-sa", "attribution"[...]
