---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Bob%20Marley&results=20
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"638849d6f3120cbf26f0c20748597ce948d1ef9c"'
      X-Worker-Node:
      - 89619:18333
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 143, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/3/3a/Bob-Marley-in-Concert_Zurich_05-30-80.jpg",
        "tags": [], "width": 600, "height": 497, "aspect_ratio": 1.2072434607645874,
        "verified": false, "license": {"type": "cc-by-sa", "attribution": "CdaMVvWgS",
        "url": "http://upload.wikimedia.org/wikipedia/commons/3/3a/Bob-Marley-in-Concert_Zurich_05-30-80.jpg"}},
        {"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Bob-marley-wailers-crystal-palace.jpg/800px-Bob-marley-wailers-crystal-palace.jpg",
        "tags": [], "width": 800, "height": 537, "aspect_ratio": 1.4897579143389199,
        "verified": false, "license": {"type": "cc-by-sa", "attribution": "Tankfield",
        "url": "http://en.wikipedia.org/wik[...]
