---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/biographies?api_key=Weezer&format=json&name=THISISNOTAKEY&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 1, "message":
        "api_key - Invalid key: \"Weezer\" is not a valid, active api key"}}}'
  recorded_at: Fri, 22 Feb 2013 20:56:40 GMT
recorded_with: VCR 2.4.0
