---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/list_genres?api_key=BNOAEBT3IZYZI6WXI&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7a30794ee60f06356de8ecfa7cb95c06d4eefa96"'
      X-Worker-Node:
      - 4dfa3:21282
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "genres": [{"name": "a cappella"}, {"name": "acid house"}, {"name":
        "acid jazz"}, {"name": "acoustic blues"}, {"name": "afrobeat"}, {"name": "album
        rock"}, {"name": "alternative country"}, {"name": "alternative dance"}, {"name":
        "alternative hip hop"}, {"name": "alternative metal"}, {"name": "alternative
        rock"}, {"name": "ambient"}, {"name": "anti-folk"}, {"name": "art rock"},
        {"name": "atmospheric black metal"}, {"name": "australian hip hop"}, {"name":
        "avant-garde"[...]
