---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/create?api_key=BNOAEBT3IZYZI6WXI&artist=Weezer&format=json&type=artist-radio
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"801631ac93065ed471d3062a163d44be43f76e0f"'
      X-Worker-Node:
      - 0b857:21278
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "session_id": "f93c3d81fcd14f2c9c921334be7e1695"}}'
  recorded_at: Sat, 23 Feb 2013 13:18:23 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/next?api_key=BNOAEBT3IZYZI6WXI&format=json&session_id=f93c3d81fcd14f2c9c921334be7e1695
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d589936921d541a4ae3093bc7789d4e73896314b"'
      X-Worker-Node:
      - 0b857:21277
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "lookahead": [], "songs": [{"artist_id": "AR633SY1187B9AC3B9",
        "id": "SOHXHLT1315CD4942C", "artist_name": "Weezer", "title": "The Good Life"}]}}'
  recorded_at: Sat, 23 Feb 2013 13:18:23 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/dynamic/next?api_key=BNOAEBT3IZYZI6WXI&format=json&session_id=f93c3d81fcd14f2c9c921334be7e1695
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fcc2cec66917bbd9d2b4562e29b914d778e8da1d"'
      X-Worker-Node:
      - 1eef6:12417
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "lookahead": [], "songs": [{"artist_id": "ARP7ILI1187B9AE9F7",
        "id": "SOAOVTO12A8C1314A6", "artist_name": "Phantom Planet", "title": "Lonely
        Day"}]}}'
  recorded_at: Sat, 23 Feb 2013 13:18:23 GMT
recorded_with: VCR 2.4.0
