---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=BNOAEBT3IZYZI6WXI&format=json&id=ARH6W4X1187B99274F&name=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aebecfa5ec35629c80f20d15927d4908b4167f44"'
      X-Worker-Node:
      - 962d4:4638
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artist": {"id": "ARH6W4X1187B99274F", "name": "Radiohead"}}}'
  recorded_at: Tue, 16 Apr 2013 12:06:09 GMT
recorded_with: VCR 2.4.0
