---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BNOAEBT3IZYZI6WXI&bucket=id:musicbrainz&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"738c6d202224e12d6640137838d49cd249f1cb89"'
      X-Worker-Node:
      - 5f1b3:30033
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "artists": [{"foreign_ids": [{"catalog": "musicbrainz", "foreign_id":
        "musicbrainz:artist:6fe07aa5-fec0-4eca-a456-f29bff451b04"}], "id": "AR633SY1187B9AC3B9",
        "name": "Weezer"}, {"id": "ARHVIPZ122CC3B2537", "name": "Weezer Tribute"},
        {"id": "ARRLJLF13221695F30", "name": "Weezer, Hayley Williams"}, {"id": "ARGGYKM13365906CDC",
        "name": "Weezer/Hayley Williams"}, {"id": "ARWHDKF12AF7D9BEBF", "name": "Grease
        Weezer"}, {"id": "ARIVGRW134198DDE27", "name": "Matt Sharp (of Weezer"}]}}'
  recorded_at: Sat, 23 Feb 2013 13:09:36 GMT
recorded_with: VCR 2.4.0
