---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/biographies?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"20406ebd7c4f93f2ed24d9566bbad8568af1c7e7"'
      X-Worker-Node:
      - aadeb:27235
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 13, "biographies": [{"text": "FOLLOW US MORE
        VIDEOS", "site": "myspace", "url": "http://www.myspace.com/weezer#biography",
        "license": {"type": "unknown", "attribution": "n/a", "attribution-url": "http://www.myspace.com/weezer#biography",
        "url": "n/a", "version": "n/a"}, "truncated": true}]}}'
  recorded_at: Fri, 22 Feb 2013 20:57:32 GMT
recorded_with: VCR 2.4.0
