---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=BNOAEBT3IZYZI6WXI&format=json&title=Hello
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7dba663b6e41e4e4fbaf750a7b01214251699013"'
      X-Worker-Node:
      - aadeb:11349
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "songs": [{"artist_id": "ARRYXUQ12AF7D9AFFC", "id": "SOGUSJE13447A33DAB",
        "artist_name": "Phospho", "title": "Hello"}, {"artist_id": "ARBC4GQ1187B9B7F8D",
        "id": "SOGWVMY13447A3388C", "artist_name": "Young Dro", "title": "Hello"},
        {"artist_id": "ARSUODM12CEB2754F0", "id": "SODXANW13447A34092", "artist_name":
        "Dj Whitestar", "title": "Hello"}, {"artist_id": "ARVXB6R1187B9B01EB", "id":
        "SOOMXEN13447A33B74", "artist_name": "Amazon", "title": "Hello"}, {"artist_id":
        "AROFTBV1313DF144E7", "id": "SOXABZB134D7CF0F86", "artist_name": "DJ Masker
        Robert, DJ White",[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=BNOAEBT3IZYZI6WXI&bucket=tracks&combined=weezer%20-%20El%20Scorcho&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3f970c2b6604bf09bfac5dc9db8575cc20b43492"'
      X-Worker-Node:
      - 96cdc:5825
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "songs": [{"title": "weezer tribute - a tribute to weezer - 09
        - the stereo - el scorcho", "artist_name": "Weezer", "artist_foreign_ids":
        [{"catalog": "7digital-US", "foreign_id": "7digital-US:artist:7516"}], "tracks":
        [], "audio_md5": "e58e471ab8ff27057cea1d0dc02137e6", "artist_id": "AR633SY1187B9AC3B9",
        "id": "SOFUENY12B0B80A2EC", "audio_summary": {"key": 1, "analysis_url": "http://echonest-analysis.s3.amazonaws.com/TR/TRVOJHF123E85806AE/3/full.json?AWSAccessKeyId=AKIAJRDFEY23UEVW42BQ&Expires=1383930517&Signature=N9El1OYIixssSnev/%2BWJtGn4GDU%3D",
        "energy": 0.54621717405125914, "liveness": 0.098055736102958091, "tempo":
        70.117999999999995, "speechiness": 0.039930275002796278, "acousticness": 0.025835454965767436,
        "mode": 1, "time_signature": 3, "duration": 259.39546000000001, "loudness":
        -8.4740000000000002, "audio_md5": "e58e471ab8ff27057cea1d0dc02137e6", "valence":
        0.15291152883100836, "danceability": 0.30119084566305093}}, {"title": "El
        Scorcho", "artist_name": "Weezer", "artist_foreign_ids": [{"catalog": "7digital-US",
        "foreign_id": "7digital-US:artist:7516"}], "tracks": [{"release_image": "http://cdn.7static.com/static/img/sleeveart/00/019/385/0001938573_200.jpg",
        "foreign_release_id": "7digital-US:release:1938573", "preview_url": "http://previews.7digital.com/clips/34/20645785.clip.mp3",
        "catalog": "7digital-US", "foreign_id": "7digital-US:track:20645785", "id":
        "TRLJPRE13A79B0D1F9"}, {"release_image": "http://cdn.7static.com/static/img/sleeveart/00/019/177/0001917766_200.jpg",
        "foreign_release_id": "7digital-US:release:1917766", "preview_url": "http://previews.7digital.com/clips/34/20989891.clip.mp3",
        "catalog": "7digital-US", "foreign_id": "7digital-US:track:20989891", "id":
        "TR[...]
