---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/songs?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Bob%20Marley&results=20
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"38fe02708f2e36531de8193c4f966c00d95b30bc"'
      X-Worker-Node:
      - 962d4:6615
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 1503, "songs": [{"id": "SOYCVLR12A8C144B99",
        "title": "Them Belly Full (But We Hungry)"}, {"id": "SOQVYER12A6701F545",
        "title": "Them Belly Full (But We Hungry)"}, {"id": "SOFHCCN144ACF9E0FD",
        "title": "Them Belly Full (But We Hungry)"}, {"id": "SOBURGB13C7985EC3E",
        "title": "Them Belly Full (But We Hungry)"}, {"id": "SOADRQC12B0B8094A5",
        "title": "Real Situation"}, {"id": "SOIMRLS1315CD46C65", "title": "Chant Down
        Babylon"}, {"id": "SOVTYBE144D8EFD995", "title": "Rainbow Country"}, {"id":
        "SOPNXHB12A8C13C473", "title": "Rainbow Country"}, {"id": "SOEQXYL1376CDC1092",
        "title": "Rainbow Country"}, {"id": "SOJXTOX144D8FD4A6A", "title": "Rainbow
        Country"}, {"id": "SOBMIHS144D8E97F29", "title": "Rainbow Country"}, {"id":
        "SOVCGKS13B42673DB2", "title": "Rainbow Country"}, {"id": "SOVBWBM13773EFBB91",
        "title": "Rainbow Country"}, {"id": "SOCLYZZ141E90FD0BD", "title": "Rainbow
        Country"}, {"id": "SODPDEK143A04F84E4", "title": "Duppy Conqueror"}, {"id":
        "SOWVXNP144AD170487", "title": "Duppy Conqueror"}, {"id": "SODAPDQ144AD167854",
        "title": "Duppy Conqueror"}, {"id": "SOUPBHO13CDEE7C1F6", "title": "Duppy
        Conqueror"}, {"id": "SONDNAL144BC95BCFE", "title": "Duppy Conqueror"}, {"id":
        "SOFOYEL13E8886EFFB", "title": "Duppy Conqueror"}]}}'
  recorded_at: Tue, 25 Mar 2014 18:54:04 GMT
recorded_with: VCR 2.8.0
