---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/songs?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=15
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"59f60114306fc1b807150861757097409e3dd637"'
      X-Worker-Node:
      - 9f840:16783
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 317, "songs": [{"id": "SOLIIGF12A8C132D82",
        "title": "Burndt Jamb"}, {"id": "SOCUEBK12A8C132D7F", "title": "Slob"}, {"id":
        "SOIDSRB13669D9A7C5", "title": "Ruling Me"}, {"id": "SODEHIX12A6702068C",
        "title": "Simple Pages"}, {"id": "SOTTHXS1366F0E446D", "title": "Put Me Back
        Together"}, {"id": "SOCOZKU12C106D1A6A", "title": "Viva La Vida"}, {"id":
        "SOEXVUL12AB0181DB1", "title": "Turn Me Round"}, {"id": "SODCUKW12A6701FB79",
        "title": "Peace"}, {"id": "SOGTENI12B3A137FF7", "title": "I Just Threw Out
        The Love Of My Dreams"}, {"id": "SONCBIO135FF3AE560", "title": "I Just Threw
        Out The Love Of My Dreams"}, {"id": "SOJZKCZ12B0B8086AD", "title": "Knockdown
        Dragout"}, {"id": "SOYNKTB12B39EA62D5", "title": "Unspoken"}, {"id": "SOSGZJA1315CD46F92",
        "title": "The Other Way"}, {"id": "SOVTCEX12AB01838F6", "title": "The Underdogs"},
        {"id": "SOHFUXU12AF72A487D", "title": "King"}]}}'
  recorded_at: Tue, 25 Mar 2014 18:54:03 GMT
recorded_with: VCR 2.8.0
