---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=BNOAEBT3IZYZI6WXI&format=json&title=Hello
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7dba663b6e41e4e4fbaf750a7b01214251699013"'
      X-Worker-Node:
      - aadeb:11349
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "songs": [{"artist_id": "ARRYXUQ12AF7D9AFFC", "id": "SOGUSJE13447A33DAB",
        "artist_name": "Phospho", "title": "Hello"}, {"artist_id": "ARBC4GQ1187B9B7F8D",
        "id": "SOGWVMY13447A3388C", "artist_name": "Young Dro", "title": "Hello"},
        {"artist_id": "ARSUODM12CEB2754F0", "id": "SODXANW13447A34092", "artist_name":
        "Dj Whitestar", "title": "Hello"}, {"artist_id": "ARVXB6R1187B9B01EB", "id":
        "SOOMXEN13447A33B74", "artist_name": "Amazon", "title": "Hello"}, {"artist_id":
        "AROFTBV1313DF144E7", "id": "SOXABZB134D7CF0F86", "artist_name": "DJ Masker
        Robert, DJ White",[...]
