---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/suggest?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 89619:11853
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "AR633SY1187B9AC3B9", "name": "Weezer"}, {"id": "ARRLJLF13221695F30",
        "name": "Weezer, Hayley Williams"}, {"id": "ARHVIPZ122CC3B2537", "name": "Weezer
        Tribute"}, {"id": "ARGGYKM13365906CDC", "name": "Weezer/Hayley Williams"},
        {"id": "ARFLKGR13C1C2A6C75", "name": "Weezer Rasca"}, {"id": "AROXBRK148E394961D",
        "name": "Jane Weezer"}, {"id": "ARTHPBI13A23CD07FD", "name": "Weezer / Hayley
        Williams"}, {"id": "ARWHDKF12AF7D9BEBF", "name": "Grease Weezer"}, {"id":
        "ARIVGRW134198DDE27", "name": "Matt Sharp (of Weezer"}, {"id": "ARIAWPS13C1C298E1A",
        "name": "Weezer Rascal"}]}}'
  recorded_at: Mon, 01 Dec 2014 11:18:28 GMT
recorded_with: VCR 2.9.3
