---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/video?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6e6c084e73cbd1b42076bf7dd1da50f49b40f49d"'
      X-Worker-Node:
      - 7cbef:11396
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 744, "video": [{"title": "Weezer - I Just
        Threw Out The Love of My Dreams", "url": "http://www.youtube.com/watch?v=CFXOas-fCq8&feature=youtube_gdata_player",
        "site": "youtube.com", "date_found": "2014-03-22T00:00:00", "image_url": "http://i.ytimg.com/vi/CFXOas-fCq8/default.jpg",
        "id": "611289c4d72f6e507694c75f4552f9b2"}, {"title": "Weezer- Everyone", "url":
        "http://www.youtube.com/watch?v=iZKC4pHw1zc&feature=youtube_gdata_player",
        "site": "youtube.com", "date_found": "2014-03-08T00:00:00", "image_url": "http://i.ytimg.com/vi/iZKC4pHw1zc/default.jpg",
        "id": "3f763e82869488809411e63f4cc031b6"}, {"title": "Weezer - Smile", "url":
        "http://www.youtube.com/watch?v=YUeKEB41OCM&feature=youtube_gdata_player",
        "site": "youtube.com", "date_found"[...]
