---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=BNOAEBT3IZYZI6WXI&format=json&id=ARH6W4X1187B99274F&name=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c7ad38226a2cb3f6808fed206c128221da1472e"'
      X-Worker-Node:
      - d1c7d:18043
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "terms": [{"frequency": 1.0, "name": "rock", "weight": 1.0}, {"frequency":
        0.32362762914965709, "name": "alternative rock", "weight": 0.69780927835051543},
        {"frequency": 0.44937160189619696, "name": "electronic", "weight": 0.68547496318114876},
        {"frequency": 0.30395783840385909, "name": "alternative", "weight": 0.51113770250368185},
        {"frequency": 0.3330351216068515, "name": "pop", "weight": 0.41310751104565535},
        {"frequency": 0.12701643032455379, "name": "art rock", "weight": 0.37453976435935199},
        {"f[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=BNOAEBT3IZYZI6WXI&format=json&id=ARH6W4X1187B99274F
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ca47178456bf833f4236e57ad2db739adaaf845a"'
      X-Worker-Node:
      - 2d6ca:24235
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "terms": [{"frequency": 1.0, "name": "rock", "weight": 1.0}, {"frequency":
        0.50056445167152541, "name": "electronic", "weight": 0.76179177451826285},
        {"frequency": 0.29054535637337708, "name": "alternative rock", "weight": 0.6259706643658326},
        {"frequency": 0.417117023[...]
