---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/urls?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d08d0b34bc126745b7819958c8c509f0693588cd"'
      X-Worker-Node:
      - 7cbef:23004
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "urls": {"official_url": "http://www.weezer.com", "lastfm_url":
        "http://www.last.fm/music/Weezer", "twitter_url": "https://twitter.com/Weezer",
        "myspace_url": "http://www.myspace.com/weezer", "wikipedia_url": "http://en.wikipedia.org/wiki/Weezer",
        "mb_url": "http://musicbrainz.org/artist/6fe07aa5-fec0-4eca-a456-f29bff451b04.html"}}}'
  recorded_at: Tue, 25 Mar 2014 19:27:31 GMT
recorded_with: VCR 2.8.0
