---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/video?api_key=BNOAEBT3IZYZI6WXI&format=json&name=Weezer&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d9db9d4a1e07cec93621ece5d32ff9673ed0b225"'
      X-Worker-Node:
      - 962d4:14760
      X-Ratelimit-Remaining:
      - '18'
      X-Ratelimit-Limit:
      - '20'
      X-Api-Key:
      - BNOAEBT3IZYZI6WXI
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: US-ASCII
      string: ! '{"response": {"status": {"version": "4.2", "code": 0, "message":
        "Success"}, "start": 0, "total": 744, "video": [{"title": "Weezer - I Just
        Threw Out The Love of My Dreams", "url": "http://www.youtube.com/watch?v=CFXOas-fCq8&feature=youtube_gdata_player",
        "site": "youtube.com", "date_found": "2014-03-22T00:00:00", "image_url": "http://i.ytimg.com/vi/CFXOas-fCq8/default.jpg",
        "id": "611289c4d72f6e507694c75f4552f9b2"}]}}'
  recorded_at: Tue, 25 Mar 2014 17:50:37 GMT
recorded_with: VCR 2.8.0
